

.registerPropertyForm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%; /* adjust the height as needed */
  z-index: 1;
}

.map {
  position: absolute;
  top: 70%; /* adjust the top position to match the height of the form */
  left: 0;
  width: 100%;
  height: 30%; /* adjust the height as needed */
  z-index: 0;
}

.RegisterPropertyForm input,
.RegisterPropertyForm textarea {
  padding: 8px;
  margin-bottom: 16px;
  width: 100%;
  max-width: 400px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.RegisterPropertyForm label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.MapContainer {
  width: 100%;
  height: 400px;
}

#map-container-register{
  padding-bottom: 300px;
}