.rating-bs-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.rating-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}