.user-reviews-section{
  display: flex;
  flex-direction: column;
}
.reviews-swiper {
    width: 100%;
    height: 100%;
  }
  
  .reviews-swiper {
    text-align: center;
    font-size: 16px;
    background: #fff;
    height:20vh;
    border-radius: 1px solid var(--color-primary-lime);
  

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .review-swiper>div{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: var(--border-grey);
    border-radius: var(--border-radius);
    padding:15px
  }
  
  .swiper-slide {
    width: 80%;
  }

.review-slide-infocontainer{
 display: flex;
 flex-direction: row;
 align-items: flex-start;
}
.review-slide-header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    align-items: center;
    gap:7px;
    margin-bottom: 7px;
}
.review-slide-avatar{
   width: 40px;
   border-radius: 50%;
}
.review-slide-user-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.review-slide-user-container>p{
    opacity: 0.6;
    font-size: smaller;
}

#see-ratings-btn-container{
  margin-top: 20px;
}
/* RATINGS  */
.ratingsContainer {
  width:90vw;
  margin: 0 auto;
}
.rating-bar-container span {
  flex-shrink: 0;
  width: 120px; /* Adjust this value according to your desired label width */
  text-align: right;
  margin-right: 10px;
}

.rating-bar {
  flex-grow: 1;
  height: 10px;
  background-color: #ddd;
}

.rating-bar-fill {
  height: 100%;
  background-color: var(--color-primary-green)
}


.rating-star-icon {
  vertical-align: middle;
  color: var(--color-primary-green);
  font-weight: 800;
}
.rating-value{
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--color-secondary-green);
  margin-left: 5px;
}

 