.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
  min-height: 150px;
  padding: 54px 54px;
  text-align: center;
  margin-top: 2px;
}


@media screen and (max-width: 1024px) {
  section {
    margin-top: 0rem;
}
}

