.swiper-pagination-clickable .swiper-pagination-bullet-active{
  background: var(--color-primary-lime);
  color:var(--color-primary-lime);
}

.imageSwiper{
  background: var(--color-bg-variant);
  text-align: center;
  border-radius: 2rem;
  user-select: none;
}

.container.imageContainer{
  width: 100vw;
  padding-bottom: 4rem;
}

.booking-confirmation {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f5f5f5;
}

.booking-confirmation__header {
  text-align: center;
  margin-bottom: 40px;
}

.booking-confirmation__details {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.booking-confirmation__property-details h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.booking-confirmation__property-info {
  margin-top: 30px;
}

.booking-confirmation__property-info p {
  margin-bottom: 10px;
  font-size: 18px;
}

.booking-confirmation__property-info span {
  display: inline-block;
  width: 200px;
  margin-right: 20px;
  font-size: 16px;
}

.booking-confirmation__property-info p:last-of-type {
  margin-bottom: 0;
}