.booking-detail__header {
  background-color: #f1f1f1;
  padding: 10px;
}

.booking-detail__status {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-secondary-green-strong);
  margin-bottom: 10px;
}

.booking-detail__title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.booking-detail__paragraph {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.booking-detail__confirmation-number {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  background-color: var(--color-primary-green);
  color: var(--color-primary-black);
  padding: 10px 10px;
  display: inline-block;
}

.booking-confirmation__property-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.booking-confirmation__property-icon {
  margin-right: 10px;
  font-size: 20px;
}

.booking-confirmation__property-date,
.booking-confirmation__property-address,
.bold {
  margin-bottom: 10px;
  font-size: 16px;
  margin-left: 5px;
  vertical-align: middle;
}

.booking-confirmation__property-date {
  font-weight: bold;
}

.booking-confirmation__property-address {
  margin-top: 5px;
}

.booking-confirmation__property-info p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.booking-confirmation__cancel-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.booking-confirmation__cancel-button button {
  width: 100%;
}