.booking-detail__header {
  background-color: var(--color-secondary-white);
  padding: 25px 15px;
}

.booking-detail__status {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-secondary-green-strong);
  margin-bottom: 5px;
}

.booking-detail__title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.booking-detail__paragraph {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: var(--color-primary-black);
}

.booking-detail__confirmation-number {
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  background-color: var(--color-primary-white);
  border-radius: 5px;
  border: 1px solid var(--color-primary-black);
  color: var(--color-primary-black);
  padding: 5px 10px;
  display: inline-block;
  width: 100%;
}

.booking-confirmation__property-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.booking-confirmation__property-info p {
  color: var(--color-primary-black) !important;
}

.booking-confirmation__property-icon {
  margin-right: 10px;
  font-size: 20px;
}

.booking-confirmation__property-date,
.booking-confirmation__property-address,
.bold {
  margin-bottom: 10px;
  font-size: 16px;
  margin-left: 5px;
  vertical-align: middle;
}

.booking-confirmation__property-date {
  font-weight: bold;
}

.booking-confirmation__property-address {
  margin-top: 5px;
}

.booking-confirmation__property-info p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.booking-confirmation__buttons{
  display:flex;
  flex-direction:column;
}
.booking-confirmation__cancel-button {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.booking-confirmation__cancel-button button {
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 5px;
}

.button-half-width {
  width: 50%;
  box-sizing: border-box;
  margin-right: 0.5rem;
  padding: 8px 12px;
  font-size: 0.9rem;
}

.button-half-width:last-child {
  margin-right: 0;
}

.link-no-decoration {
  text-decoration: none;
  color: var(--color-primary-purple)
}


/* share buttons and form */

.share-buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}

.share-cta-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color-secondary-green);
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  position: relative;
}

.share-cta-button .booking-confirmation__property-icon {
  font-size: 30px;
  margin:0;
}

.event-details-form {
  margin-top: 10px;
}

.event-details-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

.event-details-form input[type="time"] {
  display: block;
  width: 100%;
  padding: 5px 10px;
  font-size: 18px;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  color: white;
  margin-bottom: 10px;
  background-color: var(--color-primary-green);
}

/* Change the clock icon color */
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 1;
}


.event-details-form textarea[type="text"] {
  width: 100%;
  padding: 5px 10px;
  font-size: 18px;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  border: 1px solid var(--color-primary-green);
  color: var(--color-primary-black);
  margin:10px auto 10px auto;

}

.description-input {
  background-color: white;
  height: 150px;
  resize: none; /* To prevent the textarea from being resized */
  border: 1px solid var(--color-primary-green);
  text-align: left; 
  vertical-align: top;
}
