nav {
  background: rgba(250, 250, 250, 0.784);
  display: block;
  width: 100vw;
  padding: 0.4rem; /* adjust padding to make the navbar smaller */
  z-index: 999;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0rem;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(50px);
  height: 4.3rem; /* adjust the height of the navbar */
}

nav a {
  padding: 0.5rem; /* Adjust padding to give more space for text */
  border-radius: 50%;
  display: flex;
  /* justify-content: center; 
  align-items: center; */
  color: var(--color-primary-pruple);
  font-size: 0.75rem;
}

nav a:hover{
  background: var(--color-primary);
  color:var(--color-white);
}

nav a.active{
  background: var(--color-primary-);
  color: var(--color-secondary-green)
}

.navbarList {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
}

.navbarList>*:active{
  color:var(--color-secondary-green);
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 3rem; /* set a fixed width for the navItem */
  flex-grow: 1; /* evenly distribute the width among items */
}

.navIcon {
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
  width: 1.5rem; /* set a fixed width for the icon */
  height: 1.5rem; /* set a fixed height for the icon */
}

