.searchCategoryContainer {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
  .searchCategoryContainer::-webkit-scrollbar { /* Chrome, Safari, and Edge */
    display: none;
  }
  
  .searchCategoryContainer > div {
    display: inline-flex;
    font-size: 1rem;
    text-align: center;
    margin: 0 1rem;
    color: var(--color-primary-pruple);
  }
  
  .categoryItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .icon {
    font-size: 2rem; /* Increase icon size */
    display: block; /* Make icon a block element */
  }
  
  .categoryText {
    font-size: 0.8rem; /* Decrease text font size */
  }