*{
  margin:0;
  padding:0;
  border: 0;
  outline:0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
 :root{
  --transition: all 400ms ease;
  --color-primary-lime: #dbef98;
  --color-primary-pruple: #605cb8;
  --color-primary-green: #9df0ac;
  --color-secondary-green: #60c2a4;
  --border-radius:2rem;
  --container-width-lg:75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --border-radius:1.2rem;
} 

.container{
  width: var(--container-width-lg);
  margin: 0 auto;
}
.section{
  margin-bottom: 30px;
  border-bottom: 1px solid #ececec;
  padding-bottom: 10px;
  width: 90vw;
  margin: 0 auto;
}
img{
  display: block;
  width: 100%;
  object-fit: cover;
}

html{
  scroll-behavior: smooth;
}
body{
  padding-bottom: 75px;
}
.expand{
  overflow: hidden;
  animation: expand 1s ease-in-out forwards;
}
@keyframes expand {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 200px;
  }
}




/*========MEDIA QUERYS MEDIUM =========*/

@media screen and (max-width:1024px) {
  .container{
      width: var(--container-width-md)
  }
  section{
      margin-top:6rem
  }
}

@media screen and (max-width:600px) {
  .container{
      width: var(--container-width-sm)
  }
  section>h2{
      margin-bottom:2rem
  }
}