.booking-list {
  padding: 25px;
  margin-top: 30px;
  color: var(--color-primary-pruple)
}

.booking-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.booking-list__item h3 {
  margin: 0;
}

.booking-list__item p {
  margin: 0;
  font-size: 14px;
  color: #666;
}